In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
csv_file = "alldata.csv"
jobs_data = pd.read_csv(csv_file)
jobs_data.head()

,position,company,description,reviews,location
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,NaN,"Atlanta, GA 30301"
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...",NaN,"Atlanta, GA"
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...",NaN,"Atlanta, GA"
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,44.0,"Atlanta, GA 30303"
4,Assistant Professor -TT - Signal Processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,550.0,"Atlanta, GA"

In [3]:
jobs_data= jobs_data[jobs_data.location == "Austin, TX"]
jobs_data

,position,company,description,reviews,location
269,"Senior Scientist, Development",Asuragen,Asuragen is seeking outstanding Ph.D.-level sc...,8.0,"Austin, TX"
270,Data Software Engineer,Kelvin,About Us:\nThe goal is intelligent control for...,5.0,"Austin, TX"
271,Bioinformatics Scientist,Premierehire,CONTRACT TO HIRE OPPORTUNITYYou will be an int...,5.0,"Austin, TX"
272,Research Engineering/ Scientist Associate II -...,University of Texas at Austin,Purpose\nTo provide support to the Data Integr...,772.0,"Austin, TX"
275,"Sr Software Engineer, Applied Machine Learning",Apple,"Imagine what you could do here. At Apple, new ...",5786.0,"Austin, TX"
276,ML Engineer,Cognitive Scale,We live in a moment of remarkable change and o...,NaN,"Austin, TX"
278,"Senior Operations Analyst, Omni",Spectrum Brands,"Spectrum Brands – Pet, Home &amp; Garden, base...",228.0,"Austin, TX"
279,Senior Technical Writer,Cognitive Scale,We live in a moment of remarkable change and o...,NaN,"Austin, TX"
280,Senior Machine Learning Research Scientist,Arm,Arm-Research’s Machine Learning Group investig...,31.0,"Austin, TX"
283,Billing Call Center Representative,Natera,POSITION SUMMARY\n\nThe Billing Call Center Re...,34.0,"Austin, TX"
284,Machine Learning Scientist,Amazon.com,Job Description\nDo you want to help build a h...,25902.0,"Austin, TX"
285,Research Engineering/ Scientist Associate IV -...,University of Texas at Austin,Purpose\nPerform research in brain tumor molec...,772.0,"Austin, TX"
286,Senior Software Engineer - C++ for Scientific ...,HeartFlow,HeartFlow is a Software as a Service (SaaS) me...,4.0,"Austin, TX"
287,Data Analyst - Public Education Data Analysis,Legislative Budget Board,General Information\n**Minimum salary is liste...,NaN,"Austin, TX"
289,"Senior Software Engineer, CRM","RetailMeNot, Inc.",The Customer Relationship Management (CRM) Eng...,13.0,"Austin, TX"
291,"Data Scientist 4, Poker",Zynga,Zynga’s data science team uses our unique and ...,77.0,"Austin, TX"
296,DPS - LES - Forensic Scientist I-III (Firearms...,TEXAS DEPARTMENT OF PUBLIC SAFETY,DPS - LES - Forensic Scientist I-III (Firearms...,231.0,"Austin, TX"
297,Data Scientist / Operations Research Engineer,"Advanced Micro Devices, Inc.","What you do at AMD changes everything\nAt AMD,...",357.0,"Austin, TX"
298,Data Analyst,Applied Systems Inc.,Job Description\nMake a Difference Every Day w...,74.0,"Austin, TX"
299,Clinical Data (Data Entry) Operator I,Natera,POSITION SUMMARY\nNatera is currently seeking ...,34.0,"Austin, TX"
300,Research Scientist (Neuroscience),Senseye,Come help us craft the future\nSenseye aims to...,NaN,"Austin, TX"
303,Jr. Accountant/Bookkeeper,Wunderman,OVERVIEW\nThe MDF Claiming Associate is respon...,195.0,"Austin, TX"
305,Research Analyst In-House Counsel,Deeter Investments LLP,JOB DESCRIPTION This in-house counsel position...,NaN,"Austin, TX"
308,Data Scientist -Transit,Cubic Corporation,Job Summary:\n\nAs part of the NextBus data sc...,358.0,"Austin, TX"
310,Senior Data Scientist,"RetailMeNot, Inc.",At RetailMeNot we believe that gaining valuabl...,13.0,"Austin, TX"
313,"Data and Machine Learning Technical Trainer, G...",Google,Note: By applying to this position your applic...,2474.0,"Austin, TX"
314,Data Science Engineer,Apple,"Imagine what you could do here. At Apple, new ...",5786.0,"Austin, TX"
318,Statistical Analyst,Ledcor,Job Status\n\nFull Time Temporary\n\n\nJob Sum...,548.0,"Austin, TX"
320,Research Scientist (Vision Science),Senseye,Come help us craft the future\nSenseye aims to...,NaN,"Austin, TX"
321,Human Capital Research Scientist,ICF,Working at ICF\n\n\nWorking at ICF means apply...,392.0,"Austin, TX"
...,...,...,...,...,...
445,Software Engineer (QA),KLA-Tencor,Calling the adventurers ready to join a compan...,95.0,"Austin, TX"
446,Data Scientist - Data Product Development (PhD),Visa,Job Description\n\nThe Position\n\nAs a data s...,605.0,"Austin, TX"
447,Data Scientist - TX,Kelvin,You will work closely with product managers an...,5.0,"Austin, TX"
448,Senior Data Scientist,SPK Consultants Inc,Sr. Data Scientist/AI Software DeveloperLocati...,NaN,"Austin, TX"
450,Senior - Data Scientist,EY,. EY delivers unparalleled service in big data...,5356.0,"Austin, TX"
451,Software Developer,Dematic,Company Description:\nDematic is a leading sup...,133.0,"Austin, TX"
452,Data Science Analyst - Strategic Data Solutions,Apple,Apple’s Strategic Data Solutions (SDS) team le...,5786.0,"Austin, TX"
453,QA Lead,Cognitive Scale,We live in a moment of remarkable change and o...,NaN,"Austin, TX"
455,Sr. Product Manager,VMware,"We are looking for an experienced, Sr. Product...",598.0,"Austin, TX"
456,Software Systems Engineer,KLA-Tencor,Calling the adventurers ready to join a compan...,95.0,"Austin, TX"
457,Software Engineer (BS - NG) for 2018,National Instruments,The National Instruments Software R&amp;D orga...,230.0,"Austin, TX"
460,Sr. Staff Data Software Engineer,Visa,Job Description\n\nWe are seeking an experienc...,605.0,"Austin, TX"
462,CPA - Financial Reporting Research Analyst,COMPTROLLER OF PUBLIC ACCOUNTS,CPA - Financial Reporting Research Analyst (00...,2.0,"Austin, TX"
464,Advanced Analytics Consultant,Avanade,About the role\nAdvanced Analytics consultants...,194.0,"Austin, TX"
465,"Sr. Engineering Manager, Applied Machine Learning",Apple,"Imagine what you could do here. At Apple, new ...",5786.0,"Austin, TX"
467,Software Engineer (MS – NG) for 2018,National Instruments,The National Instruments Software R&amp;D orga...,230.0,"Austin, TX"
468,Engineering Scientist - Senior Software Define...,University of Texas at Austin,Purpose\nDevelop software for software-defined...,772.0,"Austin, TX"
470,Public Health Policy Research Analyst / Techni...,Accenture,Join Accenture and help transform leading orga...,14200.0,"Austin, TX"
472,"Manager, Polymer Process Development (Research...","ICU Medical, Inc.",FLSA Status: Exempt\n\nShift (include only if ...,NaN,"Austin, TX"
473,Sr. Software/ Platform Engineer,Anaconda,Role: Sr. Software/Platform Engineer\n\nReport...,34.0,"Austin, TX"
474,"Lead Architect, Machine Learning (42821)","Advanced Micro Devices, Inc.","What you do at AMD changes everything\nAt AMD,...",357.0,"Austin, TX"
479,Senior Staff Design Engineer (Machine Learning...,"Advanced Micro Devices, Inc.","What you do at AMD changes everything\nAt AMD,...",357.0,"Austin, TX"
480,"Data Scientist, Austin",Code Pilot,-----------\n\nWho we are:\n-----------\n\nWe ...,NaN,"Austin, TX"
481,Data Scientist,Atlas Wearables,You will help push the limits of machine learn...,NaN,"Austin, TX"
483,"Junior Data Scientist, Dell HR - Diversity & I...",DELL,"Dell is a collective of customer-obsessed, ind...",8380.0,"Austin, TX"
485,Data Mining Scientist,Apple,The Apple Analytic Insight team is looking for...,5786.0,"Austin, TX"
486,Data Scientist,KEYW Corporation,"Responsibilities\nAs a Data Scientist, you wil...",30.0,"Austin, TX"
487,Data Scientist,Applied Systems Inc.,Job Description\nMake a Difference Every Day w...,74.0,"Austin, TX"
488,Data Scientist,SHI International Corp.,About SHI\n\n\nInnovative Solutions. World Cla...,177.0,"Austin, TX"
490,"Junior Data Scientist, Dell HR - Talent Acquis...",DELL,"Dell is a collective of customer-obsessed, ind...",8380.0,"Austin, TX"

In [4]:
jobs_data = jobs_data[["position", "company", "location"]]
jobs_data = jobs_data.reset_index()
del jobs_data["index"]
jobs_data.head()

,position,company,location
0,"Senior Scientist, Development",Asuragen,"Austin, TX"
1,Data Software Engineer,Kelvin,"Austin, TX"
2,Bioinformatics Scientist,Premierehire,"Austin, TX"
3,Research Engineering/ Scientist Associate II -...,University of Texas at Austin,"Austin, TX"
4,"Sr Software Engineer, Applied Machine Learning",Apple,"Austin, TX"

In [10]:
jobs_data['company'].value_counts()

University of Texas at Austin    23
Advanced Micro Devices, Inc.      8
Cognitive Scale                   7
ICF                               6
National Instruments              6
                                 ..
Sonic Healthcare USA              1
R/GA                              1
T3                                1
VMware                            1
Dremio                            1
Name: company, Length: 77, dtype: int64

In [5]:
jobs_data.describe()

              position                        company    location
count              156                            156         156
unique             146                             77           1
top     Data Scientist  University of Texas at Austin  Austin, TX
freq                 5                             23         156

In [6]:
connection_string = "postgres:changeme@localhost:5432/jobs_db"
engine = create_engine(f'postgresql://{connection_string}')

In [7]:
engine.table_names()

['jobs_table']

In [8]:
jobs_data.to_sql(name='jobs_table', con=engine, if_exists='append', index=False)